<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hunder hub</title>
    <link rel="stylesheet" href="child-pages/style-suruchi.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="container">
        <aside>
            <div class="nav">
                <div class="top">
                    <a href="/"><svg class="logo _8pSp-" viewBox="0 0 559 825" height="49" width="34" fill="#fc8019">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M542.92 388.542C546.805 366.526 542.355 349.598 530.881 340.76C513.621 327.466 487.698 320.236 425.954 320.236C380.271 320.236 331.225 320.286 310.268 320.275C308.322 319.894 301.285 317.604 301.02 309.112L300.734 174.289C300.727 165.779 307.531 158.857 315.943 158.839C324.369 158.825 331.204 165.723 331.211 174.226C331.211 174.226 331.421 247.414 331.441 273.424C331.441 275.936 332.892 281.8 338.549 283.328C375.43 293.267 561.865 285.999 558.967 251.804C543.147 109.96 424.476 0 280.394 0C235.021 0 192.065 10.9162 154.026 30.2754C62.9934 77.5955 -1.65904 173.107 0.0324268 283.43C1.23215 361.622 52.2203 500.605 83.434 521.234C97.8202 530.749 116.765 527.228 201.484 527.228C239.903 527.228 275.679 527.355 293.26 527.436C295.087 527.782 304.671 530.001 304.671 538.907L304.894 641.393C304.915 649.907 298.104 656.826 289.678 656.829C281.266 656.843 274.434 649.953 274.42 641.446C274.42 641.446 275.17 600.322 275.17 584.985C275.17 581.435 275.424 575.339 265.178 570.727C231.432 555.553 121.849 564.712 115.701 581.457C113.347 587.899 125.599 612.801 144.459 644.731C170.102 685.624 211.889 747.245 245.601 792.625C261.047 813.417 268.77 823.813 280.467 824.101C292.165 824.389 300.514 814.236 317.213 793.928C383.012 713.909 516.552 537.663 542.92 388.542Z"
                                fill="url(#paint0_linear_19447_66107)"></path>
                            <defs>
                                <linearGradient id="paint0_linear_19447_66107" x1="445.629" y1="63.8626" x2="160.773"
                                    y2="537.598" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF993A"></stop>
                                    <stop offset="1" stop-color="#F15700"></stop>
                                </linearGradient>
                            </defs>
                        </svg></a>
                    <div class="title">Hungry
                        <span>Hub</span>
                    </div>
                    <div class="close-btn"><span class="material-symbols-outlined">close</span></div>
                </div>

                <div class="sideitem">
                    <a href="/" class="">
                        <span class="material-symbols-outlined"> home</span>
                        <span class="sidebar_title">Home</span>

                    </a>
                    <a href="/cart">
                        <span class="material-symbols-outlined"> local_dining</span>
                        <span class="sidebar_title">Cart</span>

                    </a>
                    <a href="/order">
                        <span class="material-symbols-outlined">person</span>
                        <span class="sidebar_title">order</span>

                    </a>
                    <a href="">
                        <span class="material-symbols-outlined"> help</span>
                        <span class="sidebar_title">Help</span>

                    </a>
                </div>
                <div class="leftside">
                    <div class="theme">
                        <div class="mode">
                            <span class=" active material-symbols-outlined ">light_mode</span>
                            <span class="  material-symbols-outlined">dark_mode</span>

                        </div>


                        <div class="profile">
                            <h2>Hey,</h2>
                            <h3>{{Uname.myname}}</h3>
                            <img class="ppic" src="img/profile.jpg">
                        </div>

                    </div>
                </div>



            </div>

        </aside>
        <!----------end of side bar-->
        <div class="main">
            <div class="section">
                <div class="restaurants">
                    <div class="mainimg">
                        <img src="img/cakebake/cakebake.webp">
                    </div>
                    <div class="header-title">
                        <div>
                            <span class="material-symbols-outlined new">restaurant</span>
                            <h1>cakes & bake</h1>

                        </div>
                        <p>Discover unique taste near you</p>
                    </div>
                    <div class="roundimg">
                        <div class="imag">
                            <img src="img/cakebake/cake-round.png">
                        </div>
                    </div>


                </div>
                <div class="menu">
                    <div class="category"></div>
                    <div class="food">
                        {{#each cake}}
                        <div class="item">
                            <div class="l-detail">
                                <div class="food-name">{{this.foodName}}</div>
                                <div class="food-disc">{{this.foodDesc}}</div>

                                <div class="price">&#8377 <div >{{this.price}}</div> </div>

                            </div>
                            <div class="r-detail">
                                <div class="pic"><img src="{{this.foodImg}}"></div>
                                <div class="addbtn">

                                    <div id="{{this.classname}}" class="addbttn" onclick="addbtn('{{this.classname}}')">add</div>

                                </div>
                            </div>
                        </div>
                        {{/each}}


                    </div>
                </div>

            </div>

        </div>
        <!----------end of main-->
    </div>

</body>
<script src="js/cakebake.js"></script>
{{!-- <script src="js/cart-rest.js"></script> --}}

</html>